.home {
  height: 695px;
  max-width: 1265px;
  min-width: 280px;
  margin: 0 auto;
}
.title {
  margin: 100px 0 10px 0;
  font-size: 50px;
  line-height: 103.19%;
  width: 45.8%; 
  font-weight: 700;
}
.subtitle {
  font-size: 23px;
  line-height: 26px;
  margin: 13px 0 30px;
  width: 45.8%;
}
.popupBtn {
  width: 261px;
  height: 60px;
  background: #3600F0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
}
.numbers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 90px;
  width: 53.8%;
}
