.card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
}

.card p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: #061D23;
}

.link:hover {
  color: #BF705E;
}

.li {  
  list-style: none;
  padding: 0;
  background-color: transparent;
  width: 95%;
  height: 50px;
  cursor: pointer;
  border: 1px solid rgba(10, 58, 33, .2);
  border-radius: 10px;
}

.li:hover {
  background-color: #E5D5CB;
}