.header {
  max-width: 100%;
  min-width: 375px;
}
.headerMob {
  max-width: 1265px;
  min-width: 280px;
  padding: 0 23px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.headerLogo {
  margin-right: 48px;
}
.headerMobMenu {
  flex-grow: 1;
  display: flex;
  flex-direction: flex-start;
}
.headerMenu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.headerContacts {
  margin: 0;
  padding: 0;
  z-index: 5;
  display: flex;
  gap: 7px;
  margin-right: 40px;
}
.menuItem{
  text-decoration: none;
  color: #222526;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
}
.menuItem:hover {
  color: #3600F0;
}
.menuTelephone a {
  text-decoration: none;
  color: #222526;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
}
.menuTelephone a:nth-child(2) {  
  font-size: 20px;  
}
.menuTelephone a:hover {
  cursor: pointer;
  opacity: .8;
}
.menuTelephone {
 display: flex;
 flex-direction: column;
 gap: 7px;
 margin-top: 5px;
}
.menuWhatsapp path{
  fill: #000;
}
.menuWhatsapp path:hover{
  opacity: .7;
}
.menuTelegram path{
  fill: #000;
}
.menuTelegram path:hover{
  opacity: .7;
}
.menuMobIcon {
  border: none;
  background-color: transparent;
  background-image: url(../../images/menu_mob-icon-open.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 14px;
}
.headerBtn {
  border: 2px solid #3600F0;
  border-radius: 5px;
  width: 178.46px;
  height: 60px;
  background-color: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #3600F0;
  cursor: pointer;
}

@media (max-width: 1040px) {
  .headerMenu {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .header {
    background-color: #222526;  
  }
  .headerMob {
    display: block;
    position: relative;
    height: 60px;
    padding: 0 30px;  
  }
  .headerContacts {
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
  }  
  .menuTelephone {
    margin-right: 0;
  }
  .menuTelephone a {
    color: white;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
  }
  .menuTelephone a:nth-child(2) {
    font-size: 15px;
  }
  .headerMobMenu {
    display: none;
    position: fixed;
    left: 0;
    top: 59px;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.7);
    z-index: 20;
    margin-right: 0;
  }
  .headerMenu {   
    position: absolute;    
    flex-direction: column;
    align-items: stretch;   
    width: 100%;
    height: 240px;    
  }
  .menuItem {
    height: 60px;
    background-color: #222526;
    border-top: 0.2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
  } 
  .headerLogo {
    position: absolute;
    top: 86px;
    left: 8%;
  }
  .headerBtn {
    position: absolute;
    top: 70px;
    right: 8%;
    width: 140px;
    height: 60px;
    font-weight: 500;
    font-size: 10px;
    z-index: 5;
  }
}