.mainV1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainV2{
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleV1 {
  font-size: 92px;
}

.titleV2 {
  font-size: 60px;
  margin: 0 0 50px 0;
}

.mainV2View {
  max-height: 92vh;
  width: 95vw;
  max-width: 1400px;
  background-color: var(--surface-section);  
  display: flex;
  overflow-y: scroll;
  border-radius: 10px;
}

.mainV2View::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.mainV2View::-webkit-scrollbar-track {
  background: var(--surface-200);        /* color of the tracking area */
  border-radius: 10px;
}

.mainV2View::-webkit-scrollbar-thumb {
  background-color: var(--surface-400);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

.mainV2Content {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.errorText {
  margin: 20px auto 0;
  text-align: center;
  color: #D32F2F;
}

.successLoginMsg {
  font-size: 40px;
  margin: 0 0 50px 0;
  text-align: center;
}

.navigateBtn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary-400);
  color: #fff;
  border-radius: 10px;
  border: 2px solid var(--primary-400);
  font-size: 26px;
  font-weight: 700;
}

.navigateBtn:hover {
  background-color: var(--primary-300);
}