.headerFlex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.expandContainer {
  padding-left: 50px;
  overflow-y: scroll;
  max-height: 50vh;
}

.textCenter {
  text-align: center !important;
}